    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: black;
        margin: 0;
        padding: 0;
    }
    
    @keyframes ani {
        0% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    
    * {
        box-sizing: content-box;
        font-family: 'Noto Sans TC', sans-serif;
        background-repeat: no-repeat;
        animation: ani 3s both;
    }
    
    button {
        cursor: pointer;
    }
    
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .section{
        height: 100vh;
    }
    
    .slide_one,
    .slide_two,
    .slide_three,
    .slide_four,
    .slide_five {
        width: 100%;
    }
    /* Slide_one */
    
    .slide_one {
        background-image: url(..//img/Camry4.png);
        background-size: contain;
        background-position: right;
    }
    
    .logo {
        /* width: 10%; */
        text-align: end;
        margin-left: 100px;
        padding-top: 40px;
    }
    
    .slide_one p {
        margin: 0;
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        color: white;
        line-height: 80px;
        text-transform: uppercase;
    }
    
    .slide_one_container {
        display: flex;
        justify-content: space-between;
    }
    
    .slide_one span {
        font-size: 60px;
    }
    
    .part2 {
        margin: 0;
    }
    
    .information {
        padding-top: 10px;
        text-align: center;
        width: 60%;
        margin-top: 120px;
    }
    
    .information2 {
        text-align: center;
        width: 60%;
        margin-top: 50px;
    }
    
    .participate {
        width: 250px;
        height: 60px;
        background: linear-gradient(315deg, #d31721c4 44%, rgb(255, 255, 255) 100%);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 27px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 50px;
    }
    
    .participate:hover {
        background-color: white;
        color: white;
    }
    /* Slide_two */
    
    .slide_two {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), black), url(..//img/2624544.jpg);
        background-size: contain;
        background-position: center;
    }
    
    .slide_two_header {
        display: flex;
    }
    
    .win {
        width: 80%;
        margin: 0 auto;
        padding-left: 580px;
        color: white;
        font-size: 60px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 50px;
    }
    
    .win2 {
        width: 50%;
        margin: 0 auto;
        padding-left: 132px;
        color: white;
        font-size: 60px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 50px;
    }
    
    .logo2 {
        margin-top: 39px;
    }
    
    .slide_two_container {
        padding-top: 5px;
    }
    
    .slide_two h1 {
        text-align: center;
        color: white;
        margin: 0;
        font-size: 30px;
        font-weight: 400;
    }
    
    .feature {
        width: 400px;
        height: 70px;
        color: white;
        font-size: 30px;
        border-radius: 30px;
        text-align: center;
        padding-top: 10px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .features_one {
        margin-top: 150px;
    }
    
    .features_two {
        margin-top: 380px;
        margin-bottom: 0px;
    }
    
    .features_one {
        display: flex;
        justify-content: space-between;
    }
    
    .feature1 {
        margin-left: 170px;
    }
    
    .feature2 {
        margin-right: 170px;
    }
    
    .features_two {
        display: flex;
        justify-content: space-between;
    }
    /* Slide_three */
    
    .slide_three {
        background-size: 100%;
        background-position: center;
    }
    
    .slide_three_container {
        margin: 0 auto;
        text-align: center;
    }
    
    .timer {
        margin-top: 30px;
    }
    
    .timer__items {
        display: flex;
        justify-content: center;
        font-size: 60px;
        color: white;
    }
    
    .timer__item {
        margin: 0 auto;
        position: relative;
        width: 200px;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .timer__item::before {
        text-align: center;
        content: attr(data-title);
        display: block;
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 17px;
        left: 50%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .timer__item:not(:last-child)::after {
        content: ':';
        position: absolute;
        margin-left: 70px;
    }
    
    .img_three {
        margin: 0 auto;
        margin-top: 0px;
        height: 700px;
        width: 1400px;
        background-position: top;
        background-size: 100%;
        background-image: url(..//img/slide_three2.png);
    }
    
    .three_slide_header {
        display: flex;
    }
    /* Slide_four */
    
    .slide_four {
        background-image: url(..//img/four_slide3.png);
        background-size: contain;
        background-position: left;
    }
    
    .slide_four h1 {
        text-align: center;
        color: white;
        margin: 0;
        margin-bottom: 50px;
        font-size: 60px;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
    }
    
    .slide_four i {
        color: white;
        left: 20px;
        position: absolute;
        z-index: 1;
        font-size: 20px;
        top: 15px;
    }
    
    .slide_four p {
        color: rgb(172, 172, 172);
        font-size: 18px;
        margin: 0;
        margin-top: 60px;
    }
    
    .slide_four a {
        color: rgb(172, 172, 172);
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .logo4,
    .logo5 {
        text-align: end;
        padding-top: 40px;
    }
    
    .placeholder-form {
        box-sizing: border-box;
        width: 35%;
        margin: 0px auto;
    }
    
    form {
        margin-left: 700px;
    }
    
    .placeholder-container {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .placeholder-container input {
        border: none;
        background-color: rgba(255, 255, 255, 0.192);
        border-radius: 5px;
        border: #d31721 0.5px solid;
        box-sizing: border-box;
        color: white;
        font-size: 20px;
        line-height: 16px;
        height: 50px;
        outline: 0;
        padding: 0px 50px;
        width: 100%;
    }
    
    .placeholder-container label {
        color: white;
        font-size: 20px;
        padding-top: 10px;
        pointer-events: none;
        position: absolute;
        transition: all 200ms;
        left: 10px;
        padding-left: 40px;
    }
    
    .placeholder-container input:focus+label,
    .placeholder-container input:not(:placeholder-shown)+label {
        top: -10px;
        left: 10px;
        font-size: 11px;
        background-color: #d31721;
        padding: 2px 10px;
    }
    
    .submit_button {
        display: block;
        margin: 0 auto;
        width: 320px;
        height: 60px;
        background: linear-gradient(315deg, #d31720d5 44%, rgb(255, 255, 255) 100%);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 27px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        padding-left: 0;
    }
    
    .submit_button:hover {
        background-color: white;
        color: white;
    }
    
    .button_send {
        margin-top: 70px;
        text-align: center;
    }
    
    .slide_four p {
        text-align: end;
        margin-right: 260px;
    }
    /* Slide_five */
    
    .slide_five {
        background-image: url(..//img/FAQ.jpg);
        background-size: contain;
        background-position: right;
    }
    
    .five_header {
        display: flex;
        justify-content: space-between;
    }
    
    .slide_five h1 {
        color: white;
        margin: 0;
        font-size: 90px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 60px;
        margin-left: 160px;
    }
    
    .FAQ {
        width: 90%;
        margin: 0 auto;
        color: white;
    }
    
    .question {
        font-size: 25px;
    }
    
    .text_answ {
        display: flex;
        justify-content: space-between;
    }
    
    .question i {
        width: 2%;
        margin-left: 81px;
        margin-top: 10px;
    }
    
    .question i:hover {
        color: #d31721c4;
    }
    
    .question::after {
        display: block;
        content: " ";
        width: 100%;
        background: #d31721c4;
        margin-top: 10px;
        height: 1px;
    }
    
    .fa-angle-down {
        font-size: 35px;
        cursor: pointer;
        display: block;
    }
    
    .fa-angle-up {
        font-size: 35px;
        cursor: pointer;
        display: none;
    }
    
    .question_part p {
        font-size: 17px;
        display: none;
    }
    
    .question_part {
        margin-bottom: 50px;
    }
    
    .questions {
        display: flex;
        justify-content: space-around;
    }
    
    .questions_part,
    .questions_two_part {
        /* width: 40%; */
        margin-top: 80px;
    }
    /* six_slide */
    
    .slide_six {
        background-image: url(..//img/FAQ.jpg);
        background-size: contain;
        background-position: center;
        color: white;
    }
    
    .slide_six h1 {
        color: white;
        margin: 0;
        font-size: 90px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 30px;
    }
    
    .p1 {
        margin-top: 50px;
    }
    
    .quest1,
    .quest2,
    .quest3 {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    
    .question_part2 {
        width: 35%;
    }
    
    .question_part3 {
        display: block;
        margin-top: 50px;
        width: 35%;
        margin-left: 550px;
    }
    /* adaptive */
    
    @media (max-width: 1860px) {
        .features_one {
            margin-top: 200px;
        }
        .feature1 {
            margin-left: 100px;
        }
        .feature2 {
            margin-right: 100px;
        }
        .features_two {
            margin-top: 490px;
        }
        .img_three {
            margin: 0 auto;
            margin-top: 100px;
            height: 1000px;
            width: 1400px;
            background-size: 100%;
        }
        .timer {
            margin-top: 80px;
        }
        .placeholder-form {
            box-sizing: border-box;
            width: 35%;
            margin: 20px auto;
        }
        form {
            margin-left: 720px;
            margin-top: 100px;
        }
        .placeholder-container {
            position: relative;
            width: 100%;
            margin-bottom: 50px;
        }
        .slide_four p {
            margin-top: 130px;
        }
        .slide_four {
            background-size: 90%;
            background-position: left;
        }
    }
    
    @media (max-width: 1800px) {
        .slide_one {
            background-size: 95%;
            background-position: right;
        }
        .win {
            padding-left: 530px;
        }
        .features_two {
            margin-top: 400px;
        }
        .img_three {
            margin-top: 50px;
        }
        form {
            margin-top: 60px;
        }
        .slide_four p {
            margin-right: 220px;
            margin-top: 70px;
        }
    }
    
    @media (max-width: 1700px) {
        .information {
            padding-top: 10px;
            text-align: center;
            width: 60%;
            margin-top: 100px;
        }
        .win {
            padding-left: 480px;
        }
        .features_two {
            margin-top: 400px;
        }
        .img_three {
            margin-top: 40px;
        }
        form {
            margin-top: 60px;
        }
        .slide_four p {
            margin-right: 190px;
            margin-top: 70px;
        }
        .question {
            font-size: 23px;
        }
    }
    
    @media (max-width: 1690px) {
        .information {
            padding-top: 10px;
            text-align: center;
            width: 70%;
            margin-top: 200px;
        }
        .slide_one {
            background-size: 95%;
            background-position: bottom;
        }
        .information2 {
            text-align: center;
            width: 70%;
            margin-top: 70px;
        }
        .question {
            font-size: 20px;
        }
    }
    
    @media (max-width: 1080px) {
        .slide_five h1 {
            margin-left: 0px;
        }
        .slide_one {
            background-size: 80%;
            background-position: bottom;
        }
        .logo {
            width: 100%;
            text-align: center;
            margin-left: 0px;
        }
        .slide_one p {
            margin: 0 auto;
            font-size: 30px;
            text-align: center;
        }
        .slide_one_container {
            display: flex;
            flex-direction: column-reverse;
        }
        .information {
            margin: 0 auto;
            padding-top: 10px;
            text-align: center;
            width: 100%;
            margin-top: 30px;
        }
        .slide_one p {
            margin: 0 auto;
            font-size: 36px;
            text-align: center;
        }
        .slide_one span {
            font-size: 60px;
        }
        .slide_one p {
            margin: 0;
            font-size: 19px;
            text-align: center;
            font-weight: 400;
            color: white;
            line-height: 60px;
            text-transform: uppercase;
        }
        .participate {
            width: 278px;
            height: 65px;
            background: linear-gradient( 315deg, #d31721c4 44%, rgb(255, 255, 255) 100%);
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 33px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 38px;
        }
        .information {
            margin: 0 auto;
            padding-top: 139px;
            text-align: center;
            width: 100%;
        }
        .information2 {
            margin: 0 auto;
            padding-top: 139px;
            text-align: center;
            width: 100%;
        }
        /* two */
        .slide_two {
            background-size: cover;
            background-position: center;
        }
        .slide_two_header {
            display: flex;
            flex-direction: column-reverse;
        }
        .win2 {
            width: 100%;
            margin: 0 auto;
            padding-left: 0px;
            padding-top: 50px;
            font-size: 55px;
        }
        .logo2 {
            margin: 0 auto;
            margin-top: 39px;
        }
        .slide_two_container {
            padding-top: 5px;
        }
        .slide_two h1 {
            text-align: center;
            margin: 0;
            font-size: 30px;
            font-weight: 400;
        }
        .feature {
            width: 100%;
            text-align: center;
        }
        .features_one {
            margin-top: 50px;
        }
        .features_two {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .features_one,
        .features_two {
            display: block;
        }
        .feature1 {
            margin-left: 0px;
        }
        .feature2 {
            margin-right: 0px;
        }
        /* three */
        .slide_three {
            background-size: contain;
            background-position: center;
        }
        .slide_three_container {
            margin: 0 auto;
            text-align: center;
        }
        .img_three {
            width: 100%;
            background-position: top;
            background-size: contain;
        }
        .timer {
            margin-top: 20px;
        }
        .placeholder-container {
            position: relative;
            width: 100%;
            margin-bottom: 15px;
        }
        .win {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-left: 0px;
            padding-top: 33px;
            font-size: 40px;
        }
        .feature {
            width: 100%;
            height: 90px;
            color: white;
            font-size: 39px;
            border-radius: 30px;
            text-align: center;
            padding-top: 10px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .win2 {
            width: 100%;
            margin: 0 auto;
            padding-left: 0px;
            padding-top: 33px;
            font-size: 60px;
        }
        /* four */
        .slide_four {
            background-size: 150%;
        }
        .slide_four i {
            left: 20px;
            position: absolute;
            z-index: 1;
            font-size: 20px;
            top: 15px;
        }
        .slide_four p {
            text-align: center;
            width: 100%;
            font-size: 18px;
            margin: 0;
            margin-top: 60px;
        }
        .slide_four h1 {
            text-align: center;
            color: white;
            margin: 0;
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 400;
            position: relative;
            text-transform: uppercase;
        }
        .logo4,
        .logo5 {
            text-align: center;
        }
        .placeholder-form {
            width: 70%;
        }
        form {
            margin-top: 7px;
            margin-left: 0px;
        }
        .slide_four p {
            text-align: center;
            margin-right: 0px;
        }
        /* five */
        .slide_five {
            background-size: cover;
            background-position: right;
        }
        .five_header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .slide_five h1 {
            margin-top: 30px;
            font-size: 40px;
        }
        .FAQ {
            width: 100%;
            margin: 0 auto;
        }
        .question {
            margin: 0 auto;
            font-size: 25px;
        }
        .question i {
            width: 2%;
            margin-left: 81px;
            margin-top: 10px;
        }
        .question::after {
            display: block;
            width: 79%;
            margin-top: 0;
            height: 1px;
        }
        .question_part p {
            font-size: 17px;
            display: none;
        }
        .question_part {
            margin-bottom: 10px;
        }
        .questions {
            display: block;
            justify-content: space-around;
        }
        .questions_part,
        .questions_two_part {
            margin: 0 auto;
            width: 80%;
            margin-top: 20px;
        }
        .slide_four h1 {
            text-align: center;
            color: white;
            margin: 0;
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 400;
            position: relative;
            text-transform: uppercase;
        }
        .placeholder-container {
            position: relative;
            width: 100%;
            margin-bottom: 30px;
        }
        .question {
            margin: 0 auto;
            font-size: 31px;
        }
        .fa {
            font-size: 62px;
        }
        .question_part p {
            font-size: 26px;
            display: none;
        }
        .FAQ {
            width: 100%;
            margin: 32px auto;
        }
        .timer__items {
            display: flex;
            justify-content: center;
            font-size: 60px;
            color: white;
        }
        .timer__item::before {
            text-align: center;
            content: attr(data-title);
            display: block;
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            font-size: 25px;
            left: 50%;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .img_three {
            margin-top: -27px;
        }
        .placeholder-container input {
            border: none;
            background-color: rgba(255, 255, 255, 0.192);
            border-radius: 5px;
            border: #d31721 0.5px solid;
            box-sizing: border-box;
            color: white;
            font-size: 20px;
            line-height: 16px;
            height: 72px;
            outline: 0;
            padding: 0px 50px;
            width: 100%;
        }
        .placeholder-container label {
            color: white;
            font-size: 22px;
            padding-top: 10px;
            pointer-events: none;
            position: absolute;
            transition: all 200ms;
            left: 49px;
            padding-left: 40px;
        }
        .slide_four i {
            left: 20px;
            position: absolute;
            z-index: 1;
            font-size: 38px;
            top: 15px;
        }
        .slide_four p {
            text-align: center;
            width: 100%;
            font-size: 16px;
            margin: 0;
            margin-top: 35px;
        }
        .slide_four a {
            color: rgb(172, 172, 172);
            font-size: 16px;
            text-decoration: none;
            font-weight: bold;
        }
        .placeholder-form {
            width: 63%;
        }
        .placeholder-container {
            position: relative;
            width: 100%;
            margin-bottom: 30px;
        }
        .placeholder-container input {
            border: none;
            background-color: rgba(255, 255, 255, 0.192);
            border-radius: 5px;
            border: #d31721 0.5px solid;
            box-sizing: border-box;
            color: white;
            font-size: 17px;
            line-height: 16px;
            height: 55px;
            outline: 0;
            padding: -7px 50px;
            width: 100%;
        }
        .placeholder-container label {
            color: white;
            font-size: 22px;
            padding-top: 10px;
            pointer-events: none;
            position: absolute;
            transition: all 200ms;
            left: 49px;
            padding-left: 40px;
        }
        .slide_four i {
            left: 20px;
            position: absolute;
            z-index: 1;
            font-size: 29px;
            top: 15px;
        }
        .fa {
            font-size: 45px;
        }
        .question {
            margin: 0 auto;
            font-size: 20px;
        }
        .question i {
            width: 2%;
            margin-left: 81px;
            margin-top: -6px;
        }
        .question_part p {
            font-size: 20px;
            display: none;
        }
        .button_send {
            margin-top: 53px;
            text-align: center;
        }
        .logo5__img{
            width: 150px;
        }
    }
    @media(max-width: 768px){
        .win2{
            font-size: 45px;
        }
    }

    @media(max-width: 650px){
        .slide_one span{
            font-size: 45px;
        }
        .participate{
            font-size: 24px;
        }
        .feature{
            height: auto;
            font-size: 26px;
        }
        .win2{
            font-size: 32px;
        }
    }

    @media(max-width: 415px){
        .slide_one p{
            font-size: 16px;
        }
        .slide_one span{
            font-size: 30px;
        }
        .participate{
            font-size: 20px;
            width: 234px;
            height: 52px;
        }
        .information,
        .information2{
            padding-top: 60px;
        }
        .slide_one p{
            line-height: 45px;
        }
        .win{
            font-size: 29px;
        }
        .timer__items{
            font-size: 40px;
            width: auto;
            height: 116px;
        }
        .timer__item:not(:last-child)::after{
            margin-left: 10px;
        }
        .img_three{
            margin-top: 0;
        }
        .placeholder-form{
            width: 95%;
        }
        .slide_four h1{
            font-size: 26px;
            margin-bottom: 15px;
        }
        .placeholder-container input{
            height: 49px;
        }
        .placeholder-container label{
            padding-top: 6px;
        }
        .slide_four i{
            top: 10px;
        }
        .submit_button{
            width: 232px;
            height: 43px;
            font-size: 20px;
            margin-top: 15px;
        }
        .slide_four a,
        .slide_four p{
            font-size: 12px;
        }
        .question{
            font-size: 16px;
        }
        .logo5__img-sm{
            width: 100px;
        }
        .logo5__img{
            width: 60px;
        }
        .questions_part,
        .questions_two_part{
            width: 95%;
        }
        .placeholder-container{
            margin-bottom: 20px;
        }
        .question i{
            margin-left: 15px;
        }
        .question_part p{
            font-size: 16px;
        }
    }
    
    @media(max-width: 376px){
        .information,
        .information2{
            padding-top: 15px;
        }
    }
    @media(max-width: 321px){
        .feature{
            font-size: 20px;
        }
        .logo5{
            padding-top: 10px;
        }
        .slide_five h1{
            font-size: 20px;
            margin-top: 10px;
        }
        .button_send{
            margin-top: 20px;
        }
        .placeholder-container input {
            height: 40px;
        }
        .placeholder-container label{
            font-size: 16px;
        }
        .slide_four i{
            font-size: 20px;
        }
        .slide_four p{
            margin-top: 10px;
        }
        .questions_part{
            margin-top: 5px;
        }
        .FAQ{
            margin-top: 0;
            margin-bottom: 0;
        }
        .question_part p,
        .question{
            font-size: 14px;
        }
    }